<ion-view>
    <ion-nav-title>
דף מסרים
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <p dir="RTL">
            1. עלה ירוק החדשה אינה בחירת מחאה אלא הבחירה הטובה ביותר שמבטאת היגיון בריא ודרך ארץ
        </p>
        <p dir="RTL">
            2. יש לנו את הרשימה של האנשים הכי טובים הכי נקיים הכי רציניים ורציניות
        </p>
        <p dir="RTL">
            3. אנחנו נעבור בוודאות את אחוז החסימה. איזה מצביע יסתכל על הרשימה הזאת ומה שהיא מציעה ולא יצביע לנו?!?
        </p>
        <p dir="RTL">
            4. אנחנו לא מתביישים לשאת בגאווה את דגל שינוי מדיניות הפללת צרכנים ואנחנו נסדיר קנאביס חוקי בישראל.
        </p>
        <p dir="RTL">
            5. אומרים שקנאביס זה לא הכי חשוב. זה נכון! אבל:
        </p>
        <p dir="RTL">
            א. זה לא סותר שום דבר. עובדה- המצע שלנו מביא פתרונות (ולא אגדות!) בנושאים מגוונים
        </p>
        <p dir="RTL">
            ב. מדובר בנושא כבד משקל מוסרית חברתית וכלכלית שהוכח בכל העולם שעמדנו היא הנכונה ומי שמחזיק היום בעמדה אחרת פשוט אינו ראוי לייצג ציור.
        </p>
        <p dir="RTL">
            ג. מדובר בנושא פתיר - בתוך חצי שנה ניתן לעשות שינוי חיובי אדיר שישפיע על כל תחומי החיים בלי תלות בשם גורם שלישי אבו מאזן כלכלה עולמית בנקים.
        </p>
        <p dir="RTL">
            6. מי שמצביע לעלה ירוק עושה מעשה חכם, צודק ואמיץ, והוא או היא שמים עצמם בצד הנכון של ההיסטוריה
        </p>
    </ion-content>
</ion-view>