<ion-view>
    <ion-nav-title>
        תשובות להתנגדויות
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon"></button>
    </ion-nav-buttons>
    <ion-content class="padding" ng-controller="ArticleCtrl as article">
        <p dir="RTL">
            <strong>"האם תעברו בכלל את אחוז החסימה? אני מפחד/ת שהקול שלי ייזרק לפח"</strong>
        </p>
        <p dir="RTL">
            1. בישראל יש קרוב לחצי מיליון אזרחים עד גיל 45 שצורכים קנאביס באופן קבוע כזה או אחר. לאנשים האלה יש את כל האינטרסים שבעולם להצביע לעלה ירוק - אם זה למען
            הכרה בנורמטיביות שלהם, אם זה כדי להימנע מאי-נעימויות מול המשטרה, ולא פחות חשוב: בשביל לקבל הנחה של 420 שקלים בחודש לפחות בהוצאות.
        </p>
        <p dir="RTL">
            2. אם כל האנשים האלה היו מצביעים לעלה ירוק – היו לנו 10 מנדטים. אבל הם עושים חשבונות ומנסים לנחש מי יהיו המפלגות הגדולות – למרות שאלו צוחקות על הניחושים
            שלהם ומיד לאחר הבחירות עושות דילים, זיגזגים ואיחודים. בעצם אותם "מחשבנים" בוחרים במספר 12 של יאיר לפיד או במספר 8 של משה כחלון, מישהו יודע מי אלו ובמה הם
            תומכים? מספיק שרבע מצרכני הקנאביס בישראל יצביעו עלה ירוק כדי שניכנס לכנסת בגדול!
        </p>
        <p dir="RTL">
            3. מצב זה נקרא "דילמת האסיר" – כל אחד חושב מה השני יעשה ומרוב מחשבות הוא לא פועל כמו שנכון לפעול. כך כולם מפסידים. הצבעה צריכה לבוא מתוך עקרון ואמונה בצדקת
            הדרך, לא מסיסמאות, הבטחות חסרות בסיס ומסרים של יועצים ובעלי הון. הפסיקו לעשות חשבונות – הצביעו על פי האמת, הצדק, ההיגיון הבריא ודרך ארץ! אין מפלגה אחרת
            מלבד עלה ירוק.
        </p>
        <p dir="RTL">
            5. נציין כי בסקרים בהם אנו מופיעים כאפשרות בחירה, עלה ירוק נמצאת מעבר לאחוז החסימה או ממש קרוב אליו. לדוגמא:    <a href ng-click="article.href('http://news.walla.co.il/item/2803743')">בסקר </a>שפורסם בתאריך 20.11.2014 ונערך על ידי מכון המחקר 'גיאוקרטוגרפיה' של פרופ' אבי דגני, עלה ירוק נכנסה
            לכנסת עם 5 מנדטים!
        </p>
        <p dir="RTL">
            <strong>"קנאביס זה רק דבר אחד, ולא הכי חשוב"</strong>
        </p>
        <p dir="RTL">
            <strong>"להגיד שקנאביס זה במקום הראשון זה להחזיק סדר עדיפויות פגום"</strong>
        </p>
        <p dir="RTL">
            1. האם ביטחון, העניין המדיני, בריאות ומשפט הם נושאים חשובים יותר מקנאביס? כן. ברור שכן. כל אדם סביר מבין זאת.
        </p>
        <p dir="RTL">
            2. עם זאת, למרות שלא מדובר בנושא "הכי" חשוב – מדובר בנושא כבד משקל, משמעותי ומאוד מאוד חשוב. למעשה מדובר בעוול החברתי הגדול ביותר בישראל היום. אין עוד עוול
            שכזה שבחסותו רודפים, מפלילים ואוסרים אנשים נורמטיביים לחלוטין, נשים וגברים מכל המגזרים. המדיניות הנוכחית היא לא רק בלתי מוסרית, אלימה, יקרה להחריד ומלאת
            חסרונות ונזקים נלווים – היא פשע נגד האנושות הלכה למעשה. מדיניות המבוססת על פקודה מתקופת המנד"ט הבריטי מלפני כמעט מאה שנה, עוד בימים שלפני קום המדינה... כל
            חלופה אחרת למדיניות הפללת צרכני הקנאביס היא פשוט טובה הרבה יותר.
        </p>
        <p dir="RTL">
            3. בנוסף, מדובר בנושא פתיר. ביבי אמר שהוא "יחסל את החמאס". לא ממש הצליח לו בחמש השנים האחרונות. ציפי ובוז'י אומרים שהם יעשו שלום. נראה לנו שהם "קצת" לוקים
            באופטימיות יתר ומתעלמים מכל מיני דברים כמו דאע"ש, חמאס, סכנות בטחוניות לישראל, היעדר קונצנזוס פנימי ועוד. הרשו לנו להטיל ספק בטענה שבעוד שנתיים ננגב חומוס
            בסוריה, המצויה בימים אלה במלחמת אזרחים עקובה מדם בה מתו כבר למעלה מ-250,000 אנשים.
        </p>
        <p dir="RTL">
            לעומת זאת, את סוגיית הקנאביס ניתן לפתור תוך זמן סביר. בתוך חצי שנה ניתן להגיע להישגים גדולים מאוד, שישפרו את מצבנו עשרות מונים.    <strong>לכן, כשאתם מצביעים לעלה ירוק, אתם יכולים להיות בטוחים שלפחות נושא אחד שמטריד אתכם ייפתר.</strong>
        </p>
        <p dir="RTL">
            4. כל זאת כאמור, ניתן לפתור ללא פגיעה בשום נושא אחר! אין שום מניעה לשנות את מדיניות ההפללה ולהסדיר את שוק הקנאביס ובמקביל לעסוק בכל יתר הנושאים. וביתר
            הנושאים, כפי שתוכלו להתרשם מהמצע שלנו, אנחנו לא נופלים מאף מפלגה בכנסת! הרשו לנו לטעון שאנחנו עולים על רובן.
        </p>
        <p dir="RTL">
            <strong>"אני ממש רוצה להצביע לעלה ירוק, אבל זה יגרום לי לבעיות וחוסר נעימות מול ההורים, מול בת/בן הזוג, בעבודה ו/או מול החברים/חברות. "</strong>
        </p>
        <p dir="RTL">
            1. לפעמים הרוב טועה. כל הדמויות הגדולות בהיסטוריה היהודית ובכלל, היו דמויות שעמדו לצד האמת והצדק, כשאלו היו במיעוט. מולם תמיד עמדו אנשים שהחזיקו דעות
            קדומות וסטיגמות שגויות.
        </p>
        <p dir="RTL">
            2. אתם שמצביעים לעלה ירוק, אתם עושים מעשה בעל משמעות. אתם שותפים לשינוי מהותי, חיובי וחדשני. אתם בוחרים בהגיון הבריא. אתם אמיצים. אתם בצד הנכון של
            ההיסטוריה. אתם מקדימים את זמנכם. אתם חלוצים. אתם צריכים להיות גאים בבחירה שלכם!
        </p>
        <p dir="RTL">
            3. אדם שבוחר בעלה ירוק מכניס עצמו למעשה לאותה קבוצה של גיבורים במהלך ההיסטוריה שעשו שינוי משמעותי, למרות שהתחילו מעמדת מיעוט: אברהם אבינו, משה רבנו, יהודה
            המכבי, ספרטקוס, סוקרטס, דבורה הנביאה, קליאופטרה, דוד המלך, הרמב"ם, ליאונרדו דה וינצ'י, קופרניקוס, אלברט איינשטיין, אברהם לינקולן, וויליאם וואלאס, בנימין
            זאב הרצל, בן גוריון, מנחם בגין, זאב ז'בוטינסקי, יוסף טרומפלדור, מהטמה גאנדי, מרתין לותר קינג, רוזה פארקס, ראול ולנברג, אוסקר שינדלר, אירנה סנדלר ועוד רבים
            וטובים, שפעלו בניגוד לדעה המקובלת, לרוב בניגוד לחוק, לעיתים תוך סיכון חייהם – והכל כדי לשנות את העולם לטובה.
        </p>
        <p dir="RTL">
            4. דווקא בגלל הצורך לשבור את הלחץ החברתי השלילי – אנחנו קוראים לכם: דברו על זה עכשיו. אל תחכו. תתגאו בבחירה שלכם החל מהיום. בכל מקום. אתם תגלו שמהר מאוד
            חוסר ההבנה יהפוך לתמיכה עצומה מהסובבים אתכם. מנסיון!
        </p>
    </ion-content>
</ion-view>