<ion-view>
    <ion-nav-title>
רק עלה ירוק
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <p align="center" dir="RTL">
            <strong><u>למה רק עלה ירוק תביא את הבשורה – וכיצד</u></strong>
        </p>
        <p dir="RTL">
            ישנן שתי סיבות מרכזיות בגינן רק עלה ירוק תביא את הבשורה בנושא הקנאביס ואלו הן:
        </p>
        <p dir="RTL">
            א. רק עלה ירוק לא תתפשר על שינוי החוק.
        </p>
        <p dir="RTL">
            ב. רק עלה ירוק תשקיע כספים בקידום הנושא מבחינה ציבורית.
        </p>
        <p dir="RTL">
            בשנים האחרונות, לאור הפעילות הרבה שביצעו פעילים חברתיים בישראל בנושא וכן נוכח ההתפתחויות בעולם, חומת הבושה קורסת ורבים נוספים כבר לא מתביישים להודות שצרכו
            וצורכים קנאביס בזמנם החופשי.
        </p>
        <p dir="RTL">
            יתרה מכך: בכנסת האחרונה היו כ-15 חברי כנסת שהודו שעישנו ובכנסת הקרובה ייכנסו חברי כנסת חדשים נוספים שמודים בפה מלא בצריכת קנאביס. חברת הכנסת תמר זנדברג
            ממרצ אף הגישה הצעת חוק שנכתבה עבורה על ידי פעילים ובינהם יו"ר רשימת עלה ירוק מר אורן ליבוביץ, לאי-הפללה ולהסדרת שוק הקנאביס.
        </p>
        <p dir="RTL">
            נשאלת השאלה – אז למה בכלל לרוץ? אולי הם יסדירו את זה בשבילנו? התשובה היא, לצערנו הרב, שזה לא יקרה בלעדינו. <strong>רק עלה ירוק תביא את הבשורה</strong>. רק
            עלה ירוק לא תתפשר על שינוי החוק.
        </p>
        <p dir="RTL">
            בראש ובראשונה נסביר את המשמעויות של כניסת מפלגה לכנסת: מעבר למעמד ההיסטורי של הכנסת חמישה נציגי מפלגת עלה ירוק לכנסת, וההשלכות התקשורתיות והתודעתיות לכך,
            הכנסת הקרובה עומדת להיות כנסת מבוזרת מאוד, ולא תהיינה רשימות גדולות. המשמעות היא שכל מועמד לראשות ממשלה יצטרך את כל השותפים שהוא יוכל לאסוף ולכן יהיה חייב
            לנהל מו"מ עם כל הסיעות שנכנסו לכנסת.
        </p>
        <p dir="RTL">
            סיעות אחרות, כגון מרצ, במידה ובכלל יסכימו להיכנס לממשלה (והדבר לא יתאפשר במידה ותעלה ממשלת ימין), יעמדו על שלהן בתחומים של יחסים מול הפלסטינים למשל
            והתנהלות חוץ. הסדרת שוק הקנאביס תהיה הדרישה הראשונה שהם יזרקו לפח כדי להיכנס לממשלה.<strong> רק עלה ירוק תשקיע כספים בקידום הנושא מבחינה ציבורית</strong>.
        </p>
        <p dir="RTL">
            יתרה מכך: מפלגה שנכנסת לכנסת מקבלת מימון חודשי מהמדינה בסכום של כ-100,000 ₪ בחודש (!) עבור כל מנדט שהיא מקבלת. את הסכום הזה היא יכולה להוציא אך ורק על
            פרסום וקידום נושאים שהיא מאמינה בהם.
        </p>
        <p dir="RTL">‎
    </ion-content>
</ion-view>