<ion-view>
    <ion-nav-title>
סיבות להפסקת ההפללה
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <p dir="RTL">
            <strong><u>3 סיבות מרכזיות להפסקת הפללת צרכני הקנאביס</u></strong>
        </p>
        <p dir="RTL">
            אפשר לומר בצורה ברורה: המדיניות הנוכחית בישראל היא הגרועה ביותר אפשרית. להלן 3 סיבות מרכזיות להפסקת ההפללה:
        </p>
        <p dir="RTL">
            <strong><u> </u></strong>
        </p>
        <p dir="RTL">
            <strong>1. </strong>
            <strong><u>מדיניות ההפללה שגויה, לא מוסרית, לא הגיונית ולא מועילה</u></strong>
            <strong><u></u></strong>
        </p>
        <p dir="RTL">
            מדיניות ההפללה היא בראש ובראשונה לא מוסרית ולא צודקת. זוהי מדיניות המבוססת על תפיסה שגויה לחלוטין לגבי תפקיד המדינה בחיי האזרח. לעמדתנו, "המדינה" היא
            החברה. כשחברה מתוקנת סבורה שמישהו גורם לעצמו נזק – היא מציעה לו עזרה. לצוות על שוטרי ישראל לרדוף אחרי 10% מאזרחי המדינה – לא עוזר בשום דבר. להפך, זה מרחיב
            ומעצים את הנזק. נזק זה שנגרם מרישום פלילי גבוה עשרות מונים מהנזק הנגרם לכאורה מעצם צריכת קנאביס.
        </p>
        <p dir="RTL">
            <strong>2. </strong>
            <strong><u>מדיניות פגומה לחלוטין מבחינה חברתית, כלכלית ובטחונית</u></strong>
            <strong><u></u></strong>
        </p>
        <p dir="RTL">
            מדיניות ההפללה נאכפת בצורה מפלה כנגד אוכלוסיות חלשות ובעיקר במגזר היהודי בקרב מזרחיים, אתיופים, עולי ברה"מ ובכלל בעלי מראה שונה ממראה ה"צבר החביב", זאת
            בנוסף למגזר הערבי. כל אלו סובלים מהיתקלויות שליליות עם המשטרה על בסיס שיפוט חיצוני ועניין זה הינו לא פחות מאפליה תרבותית עם מימד גזעני, אשר מביא לאובדן
            מוחלט של אמון הציבור במשטרת ישראל.
        </p>
        <p dir="RTL">
            בנוסף, כתוצאה מאי-החוקיות מחד, והביקוש העצום מאידך, מתגלגל לו שוק של כ-8 מילארד שקלים בשנה המנוהל על ידי ארגוני הטרור והפשע. ארגונים אלו לא בודקים תעודות
            זהות ומוכרים חומרים לילדים ללא בקרה. ארגונים אלו מוכרים חומרים גרועים ובלתי מפוקחים, לעיתים מזוייפים ומסוכנים, ארגונים אלה משתמשים בכסף כדי להשחית את גורמי
            השלטון, המשטרה והממסד.
        </p>
        <p dir="RTL">
            כתוצאה מכך – האזרח צרכן הקנאביס נאלץ להתחכך חיכוך מיותר ומסוכן עם גורמי פשע וטרור, וכבר קרו מקרים מצערים של שוד, סחיטה, אונס ואף רצח כתוצאה מכך.
        </p>
        <p dir="RTL">
            <strong>3. </strong>
            <strong><u>המדיניות החלופית הקיימת טובה בהרבה</u></strong>
            <strong><u></u></strong>
        </p>
        <p dir="RTL">
            כל אחת מהמדינות בעולם שהפסיקה את מדיניות ההפללה והסדירה בצורה מסוימת את צריכת הקנאביס בחוק, קיבלה בתמורה תוצאות מעולות הכוללות הפחתה בכמות עבריינות רכוש
            והפשיעה בכלל, צימצום מספר המכורים להירואין וסמים קשים, צמצום כמעט מוחלט של שוק סמי הפיצוציות, ירידה במקרי ההתאבדויות ובמקומות בהם אושר השימוש לכולם, גם
            נפתחו עסקים רבים, נכנס כסף רב לאוצר המדינה ונפתחו אלפי מקומות עבודה חדשים.
        </p>
    </ion-content>
</ion-view>