<ion-view view-title="מאמרים">
  <ion-content>
    <div class="row article-row">
      <div class="col" style="text-align: center" ng-click="article.goto('rak')">
        <img src="resources/cat_alle.png" alt=""/>
        <p>?למה עלה ירוק</p>
      </div>
      <div class="col" style="text-align: center" ng-click="article.goto('reasons')">
        <img src="resources/cat_canabiss.png" alt=""/>
        <p>?למה לשנות</p>
      </div>
    </div>
    <div class="row article-row">
      <div class="col" style="text-align: center" ng-click="article.href('http://aleyarok.org.il/candidates.html')">
        <img src="resources/cat_together.png" alt=""/>
        <p>רשימת המפלגה לכנסת</p>
      </div>
      <div class="col" style="text-align: center" ng-click="article.goto('objections')">
        <img src="resources/simansiman.png" alt=""/>
        <p>תשובות למתלבטים</p>
      </div>
    </div>
    <div class="row article-row">
      <div class="col" style="text-align: center" ng-click="article.goto('msg')">
        <img src="resources/cat_propaganda.png" alt=""/>
        <p>פועלים למעננו</p>
      </div>
      <div class="col" style="text-align: center" ng-click="article.href('http://aleyarok.org.il/download.html')">
        <img src="resources/cat_kalfi.png" alt=""/>
        <p>תוצאות הקלפי</p>
      </div>
    </div>
  </ion-content>
</ion-view>
