<ion-view>
  <ion-nav-title>
    משימות שבועיות
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button">
      {{weekly.user.points}}
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="first-item">
        <span class="ale-weekly"></span>
        <div>
            בהתחלה הם מתעלמים ממך. אחר כך הם צוחקים עליך. אחר כך הם תוקפים אותך ואז אתה מנצח.
        </div>
      </ion-item>
      <ion-item class="item" ng-repeat="task in weekly.tasks.tasks" type="item-text-wrap" ng-click="weekly.done(task.id)">
      <span ng-class="{ 'ale-checkedbox': task.done, 'ale-checkbox': !task.done }"></span>
      <div>
        <span style="white-space: pre-wrap" ng-class="{ taskDone: task.done }">{{task.title}}</span><br/>
        <span>({{task.points}} קולות)</span>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
