<ion-view view-title="מאמרים">
  <ion-content>
    <div class="row article-row">
      <div class="col" style="text-align: center">
        <img src="resources/cat_alle.png" alt=""/>
        <p>?למה עלה ירוק</p>
      </div>
      <div class="col" style="text-align: center">
        <img src="resources/cat_canabiss.png" alt=""/>
        <p>?למה קנביס</p>
      </div>
    </div>
    <div class="row article-row">
      <div class="col" style="text-align: center">
        <img src="resources/cat_together.png" alt=""/>
        <p>עניין חברתי</p>
      </div>
      <div class="col" style="text-align: center">
        <img src="resources/cat_law.png" alt=""/>
        <p>חוק וסדר</p>
      </div>
    </div>
    <div class="row article-row">
      <div class="col" style="text-align: center">
        <img src="resources/cat_propaganda.png" alt=""/>
        <p>פעולים למעננו</p>
      </div>
      <div class="col" style="text-align: center">
        <img src="resources/cat_kalfi.png" alt=""/>
        <p>תוצאות הקלפי</p>
      </div>
    </div>
  </ion-content>
</ion-view>
