<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Articles Tab -->
  <ion-tab title="מאמרים" icon="ale-articls" href="#/tab/articles">
    <ion-nav-view name="tab-articles"></ion-nav-view>
  </ion-tab>

  <!-- One Time Tasks Tab -->
  <ion-tab title="חד פעמי" icon="ale-once" href="#/tab/oneTime">
    <ion-nav-view name="tab-oneTime"></ion-nav-view>
  </ion-tab>

  <!-- Weekly Tasks Tab -->
  <ion-tab title="משימות שבועיות" icon="ale-weekly" href="#/tab/weekly">
    <ion-nav-view name="tab-weekly"></ion-nav-view>
  </ion-tab>

  <!-- Daily Tasks Tab -->
  <ion-tab title="משימות יומיות" icon="ale-daily" href="#/tab/daily">
    <ion-nav-view name="tab-daily"></ion-nav-view>
  </ion-tab>

</ion-tabs>