// Ale Yarok variables

$aleicons-font-path: "../fonts" !default;
$aleicons-font-family: "aleicons" !default;
$aleicons-version: "1.5.2" !default;
$aleicons-prefix: ale- !default;

$aleicons-var-alle: "\e600";
$aleicons-var-checkbox: "\e601";
$aleicons-var-articls: "\e602";
$aleicons-var-joint: "\e603";
$aleicons-var-daily: "\e605";
$aleicons-var-once: "\e607";
$aleicons-var-share: "\e608";
$aleicons-var-v_icon: "\e609";
$aleicons-var-weekly: "\e60b";